*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 350px;
    height: 480px;
    background:#8454E4;
    text-align: center;
    border-radius: 8px;
}
form{
    margin-top: 20%;
    margin-bottom: 90px;
}
input{
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
}
h1{
    color:white;
}
a{
    font-size: .8rem;
    color: #444655;
}
a:hover{
    color:white;
}
textarea:focus,input:focus{
    outline: none;
}
button{
    width: 50%;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background-color:#3C2C5C ;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color:#3C2C5C ;
    transition: .8s;
}
img{
    width: 50%;
}


